<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You confirmed your attendance for <%= @attendee.event.title %></h1>
    <p>
      Thank you!
    </p>
  </body>
</html>
