<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We cancelled your registration for <%= @attendee.event.title %></h1>
    <p>
      We hope to see you soon.
    </p>
  </body>
</html>
