<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Here is your starter pack for <%= @attendee.event.title %></h1>
    <p>
      Check the schedule at the main entrance.
    </p>
  </body>
</html>
